.Auth {
  width: 100%;
  margin: 2rem auto;
  text-align: center;
}

.Auth h2 {
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 0;
  background: #2075ff;
  color: white;
  border-radius: 5px 5px 0 0;
}

.InputField {
  width: 20rem;
}

.Placeholder {
  height: 1rem;
}

@media (min-width: 600px) {
  .Auth {
    width: 30rem;
  }
}
